<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hellfire_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{60,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{60,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{60,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{56,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{56,50}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,60},{50,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{50,46}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{36,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,42},{30,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{30,28}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>hellfire_normal_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{50,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>hellfire_normal_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>hellfire_normal_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{50,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{50,53}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>hellfire_normal_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,103},{52,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>hellfire_normal_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,54},{52,47}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>hellfire_normal_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,112},{52,45}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>hellfire_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>hellfire_normal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,64},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hellfire.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70b9189a303f571561077656311b93f3$</string>
            <key>textureFileName</key>
            <string>hellfire.png</string>
        </dict>
    </dict>
</plist>
