<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1253},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>boss_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1174},{158,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,133}}</string>
                <key>sourceSize</key>
                <string>{158,133}</string>
            </dict>
            <key>boss_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1237},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>boss_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>boss_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>boss_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,403},{136,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,189}}</string>
                <key>sourceSize</key>
                <string>{136,189}</string>
            </dict>
            <key>boss_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1107},{136,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{136,142}</string>
            </dict>
            <key>boss_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,185},{252,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,158}}</string>
                <key>sourceSize</key>
                <string>{252,158}</string>
            </dict>
            <key>boss_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,222},{230,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,179}}</string>
                <key>sourceSize</key>
                <string>{230,179}</string>
            </dict>
            <key>boss_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{267,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,181}}</string>
                <key>sourceSize</key>
                <string>{267,181}</string>
            </dict>
            <key>boss_destroyplant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,345},{148,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,157}}</string>
                <key>sourceSize</key>
                <string>{148,157}</string>
            </dict>
            <key>boss_destroyplant_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1097},{154,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,163}}</string>
                <key>sourceSize</key>
                <string>{154,163}</string>
            </dict>
            <key>boss_destroyplant_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,941},{157,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,167}}</string>
                <key>sourceSize</key>
                <string>{157,167}</string>
            </dict>
            <key>boss_destroyplant_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{157,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,167}}</string>
                <key>sourceSize</key>
                <string>{157,167}</string>
            </dict>
            <key>boss_destroyplant_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,848},{158,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,167}}</string>
                <key>sourceSize</key>
                <string>{158,167}</string>
            </dict>
            <key>boss_destroyplant_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,674},{167,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,172}}</string>
                <key>sourceSize</key>
                <string>{167,172}</string>
            </dict>
            <key>boss_destroyplant_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,499},{167,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{167,173}</string>
            </dict>
            <key>boss_destroyplant_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1008},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>boss_destroyplant_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,783},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>boss_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,541},{126,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>boss_die_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1244},{151,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,133}}</string>
                <key>sourceSize</key>
                <string>{151,133}</string>
            </dict>
            <key>boss_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,504},{148,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,137}}</string>
                <key>sourceSize</key>
                <string>{148,137}</string>
            </dict>
            <key>boss_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,808},{137,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,132}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>boss_die_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,812},{146,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,179}}</string>
                <key>sourceSize</key>
                <string>{146,179}</string>
            </dict>
            <key>boss_die_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{331,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,218}}</string>
                <key>sourceSize</key>
                <string>{331,218}</string>
            </dict>
            <key>boss_die_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,217}}</string>
                <key>sourceSize</key>
                <string>{340,217}</string>
            </dict>
            <key>boss_die_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{313,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,214}}</string>
                <key>sourceSize</key>
                <string>{313,214}</string>
            </dict>
            <key>boss_die_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,345},{174,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,195}}</string>
                <key>sourceSize</key>
                <string>{174,195}</string>
            </dict>
            <key>boss_die_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1099},{148,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,136}}</string>
                <key>sourceSize</key>
                <string>{148,136}</string>
            </dict>
            <key>boss_hellfire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,541},{126,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>boss_hellfire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1253},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>boss_hellfire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,222},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>boss_hellfire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,947},{136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,150}}</string>
                <key>sourceSize</key>
                <string>{136,150}</string>
            </dict>
            <key>boss_hellfire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1100},{142,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,161}}</string>
                <key>sourceSize</key>
                <string>{142,161}</string>
            </dict>
            <key>boss_hellfire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,793},{146,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,172}}</string>
                <key>sourceSize</key>
                <string>{146,172}</string>
            </dict>
            <key>boss_hellfire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,960},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>boss_hellfire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,955},{140,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,164}}</string>
                <key>sourceSize</key>
                <string>{140,164}</string>
            </dict>
            <key>boss_hellfire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,643},{138,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,155}}</string>
                <key>sourceSize</key>
                <string>{138,155}</string>
            </dict>
            <key>boss_hellfire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1253},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>boss_summon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,365},{126,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{126,132}</string>
            </dict>
            <key>boss_summon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1253},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>boss_summon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,541},{133,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,185}}</string>
                <key>sourceSize</key>
                <string>{133,185}</string>
            </dict>
            <key>boss_summon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,657},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>boss_summon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,521},{134,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,188}}</string>
                <key>sourceSize</key>
                <string>{134,188}</string>
            </dict>
            <key>boss_summon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{134,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,187}}</string>
                <key>sourceSize</key>
                <string>{134,187}</string>
            </dict>
            <key>boss_summon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,676},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>boss_summon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{133,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,182}}</string>
                <key>sourceSize</key>
                <string>{133,182}</string>
            </dict>
            <key>boss_summon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{131,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,178}}</string>
                <key>sourceSize</key>
                <string>{131,178}</string>
            </dict>
            <key>boss_summon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1245},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>boss_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1253},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>boss_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
            <key>boss_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1377},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>boss_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1372},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>boss_walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1309},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{126,130}</string>
            </dict>
            <key>boss_walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,675},{126,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,131}}</string>
                <key>sourceSize</key>
                <string>{126,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8ac815eb02748870af404601532cd5$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
