<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fire_attack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,406},{90,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,96}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>fire_attack_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,108},{132,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,91}}</string>
			<key>sourceSize</key>
			<string>{132,91}</string>
		</dict>
		<key>fire_attack_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,99},{118,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,106}}</string>
			<key>sourceSize</key>
			<string>{118,106}</string>
		</dict>
		<key>fire_attack_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{159,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,111}}</string>
			<key>sourceSize</key>
			<string>{159,111}</string>
		</dict>
		<key>fire_attack_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,398},{92,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,97}}</string>
			<key>sourceSize</key>
			<string>{92,97}</string>
		</dict>
		<key>fire_attack_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,406},{90,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,96}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>fire_attack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,98},{139,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,93}}</string>
			<key>sourceSize</key>
			<string>{139,93}</string>
		</dict>
		<key>fire_attack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,2},{138,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,111}}</string>
			<key>sourceSize</key>
			<string>{138,111}</string>
		</dict>
		<key>fire_attack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,89},{121,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,110}}</string>
			<key>sourceSize</key>
			<string>{121,110}</string>
		</dict>
		<key>fire_attack_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,201},{114,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,102}}</string>
			<key>sourceSize</key>
			<string>{114,102}</string>
		</dict>
		<key>fire_attack_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,185},{118,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,88}}</string>
			<key>sourceSize</key>
			<string>{118,88}</string>
		</dict>
		<key>fire_attack_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,2},{125,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,95}}</string>
			<key>sourceSize</key>
			<string>{125,95}</string>
		</dict>
		<key>fire_attack_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,2},{139,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,104}}</string>
			<key>sourceSize</key>
			<string>{139,104}</string>
		</dict>
		<key>fire_attack_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,193},{130,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,106}}</string>
			<key>sourceSize</key>
			<string>{130,106}</string>
		</dict>
		<key>fire_die_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,406},{90,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,96}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>fire_die_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,405},{105,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,92}}</string>
			<key>sourceSize</key>
			<string>{105,92}</string>
		</dict>
		<key>fire_die_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,93},{119,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,90}}</string>
			<key>sourceSize</key>
			<string>{119,90}</string>
		</dict>
		<key>fire_die_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{125,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,95}}</string>
			<key>sourceSize</key>
			<string>{125,95}</string>
		</dict>
		<key>fire_die_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,212},{107,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,94}}</string>
			<key>sourceSize</key>
			<string>{107,94}</string>
		</dict>
		<key>fire_die_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,207},{112,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,115}}</string>
			<key>sourceSize</key>
			<string>{112,115}</string>
		</dict>
		<key>fire_die_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,284},{85,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,81}}</string>
			<key>sourceSize</key>
			<string>{85,81}</string>
		</dict>
		<key>fire_nonfireattack_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,447},{76,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,80}}</string>
			<key>sourceSize</key>
			<string>{76,80}</string>
		</dict>
		<key>fire_nonfireattack_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,2},{123,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,85}}</string>
			<key>sourceSize</key>
			<string>{123,85}</string>
		</dict>
		<key>fire_nonfireattack_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,291},{103,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,79}}</string>
			<key>sourceSize</key>
			<string>{103,79}</string>
		</dict>
		<key>fire_nonfireattack_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,367},{101,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,80}}</string>
			<key>sourceSize</key>
			<string>{101,80}</string>
		</dict>
		<key>fire_nonfireattack_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,415},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>fire_nonfireattack_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,447},{76,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,80}}</string>
			<key>sourceSize</key>
			<string>{76,80}</string>
		</dict>
		<key>fire_nonfireattack_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,2},{143,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,94}}</string>
			<key>sourceSize</key>
			<string>{143,94}</string>
		</dict>
		<key>fire_nonfireattack_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{138,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,111}}</string>
			<key>sourceSize</key>
			<string>{138,111}</string>
		</dict>
		<key>fire_nonfireattack_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,305},{105,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,99}}</string>
			<key>sourceSize</key>
			<string>{105,99}</string>
		</dict>
		<key>fire_nonfireattack_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,201},{105,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,88}}</string>
			<key>sourceSize</key>
			<string>{105,88}</string>
		</dict>
		<key>fire_nonfireattack_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,308},{99,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,88}}</string>
			<key>sourceSize</key>
			<string>{99,88}</string>
		</dict>
		<key>fire_nonfireattack_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,115},{116,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,95}}</string>
			<key>sourceSize</key>
			<string>{116,95}</string>
		</dict>
		<key>fire_nonfireattack_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,2},{124,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,89}}</string>
			<key>sourceSize</key>
			<string>{124,89}</string>
		</dict>
		<key>fire_nonfireattack_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,301},{112,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,92}}</string>
			<key>sourceSize</key>
			<string>{112,92}</string>
		</dict>
		<key>fire_nonfiredie_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,447},{76,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,80}}</string>
			<key>sourceSize</key>
			<string>{76,80}</string>
		</dict>
		<key>fire_nonfiredie_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,494},{96,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,78}}</string>
			<key>sourceSize</key>
			<string>{96,78}</string>
		</dict>
		<key>fire_nonfiredie_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,275},{104,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,78}}</string>
			<key>sourceSize</key>
			<string>{104,78}</string>
		</dict>
		<key>fire_nonfiredie_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,325},{111,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,78}}</string>
			<key>sourceSize</key>
			<string>{111,78}</string>
		</dict>
		<key>fire_nonfiredie_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,574},{94,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,79}}</string>
			<key>sourceSize</key>
			<string>{94,79}</string>
		</dict>
		<key>fire_nonfiredie_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,395},{105,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,97}}</string>
			<key>sourceSize</key>
			<string>{105,97}</string>
		</dict>
		<key>fire_nonfiredie_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,201},{85,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,81}}</string>
			<key>sourceSize</key>
			<string>{85,81}</string>
		</dict>
		<key>fire_nonfirewalk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,372},{76,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,80}}</string>
			<key>sourceSize</key>
			<string>{76,80}</string>
		</dict>
		<key>fire_nonfirewalk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,589},{74,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,78}}</string>
			<key>sourceSize</key>
			<string>{74,78}</string>
		</dict>
		<key>fire_nonfirewalk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{73,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,76}}</string>
			<key>sourceSize</key>
			<string>{73,76}</string>
		</dict>
		<key>fire_nonfirewalk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,655},{75,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,76}}</string>
			<key>sourceSize</key>
			<string>{75,76}</string>
		</dict>
		<key>fire_nonfirewalk_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,583},{77,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,78}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>fire_nonfirewalk_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,498},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>fire_nonfirewalk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,496},{81,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,77}}</string>
			<key>sourceSize</key>
			<string>{81,77}</string>
		</dict>
		<key>fire_nonfirewalk_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,575},{79,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,76}}</string>
			<key>sourceSize</key>
			<string>{79,76}</string>
		</dict>
		<key>fire_walk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,499},{90,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,95}}</string>
			<key>sourceSize</key>
			<string>{90,95}</string>
		</dict>
		<key>fire_walk_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,321},{92,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,96}}</string>
			<key>sourceSize</key>
			<string>{92,96}</string>
		</dict>
		<key>fire_walk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,591},{93,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,91}}</string>
			<key>sourceSize</key>
			<string>{93,91}</string>
		</dict>
		<key>fire_walk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,355},{90,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,92}}</string>
			<key>sourceSize</key>
			<string>{90,92}</string>
		</dict>
		<key>fire_walk_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,498},{89,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,95}}</string>
			<key>sourceSize</key>
			<string>{89,95}</string>
		</dict>
		<key>fire_walk_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,403},{91,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,96}}</string>
			<key>sourceSize</key>
			<string>{91,96}</string>
		</dict>
		<key>fire_walk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,308},{93,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,98}}</string>
			<key>sourceSize</key>
			<string>{93,98}</string>
		</dict>
		<key>fire_walk_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,492},{89,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,95}}</string>
			<key>sourceSize</key>
			<string>{89,95}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fire.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:21189cef6bf47dd31f12fae3d60f3bb7$</string>
		<key>textureFileName</key>
		<string>fire.png</string>
	</dict>
</dict>
</plist>
