<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,130},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>normal_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,130},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>normal_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>normal_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{114,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,81}}</string>
                <key>sourceSize</key>
                <string>{114,81}</string>
            </dict>
            <key>normal_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>normal_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{115,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,78}}</string>
                <key>sourceSize</key>
                <string>{115,78}</string>
            </dict>
            <key>normal_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,73}}</string>
                <key>sourceSize</key>
                <string>{143,73}</string>
            </dict>
            <key>normal_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{128,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,75}}</string>
                <key>sourceSize</key>
                <string>{128,75}</string>
            </dict>
            <key>normal_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,79},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>normal_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,85},{91,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,73}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>normal_die_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,231},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>normal_die_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,170},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>normal_die_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,83},{104,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,45}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>normal_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,160},{69,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,83}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>normal_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,156},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>normal_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,85},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>normal_walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc8e0be6705cf708175fe6c736a74228$</string>
            <key>textureFileName</key>
            <string>normal.png</string>
        </dict>
    </dict>
</plist>
